    /* Header Section */
    .header img{
        width: 180px;
        height: auto;
        margin-top: 5px;
    }
    .header{
        background-color: #ff9ff3;
    }
    
    .header ul li{
        display: inline-block;
        margin-left: -4px;
        margin-top: 18px;
    }
    .header ul li a{
        color: white;
        text-decoration: none;
        padding: 0 20px;
        font-size: 18px;
        border-right: 1px solid white;
    }
    .header ul li:first-child a{
        border-left: 1px solid white;
    }
    
    
    
        /* Header Hover Section */
    .header ul li a:hover{
        background-color: #f368e0;
        transition: .4s;
    }
    .header img:hover{
        transform: rotate(360deg);
        transition: .5s;
    }